{% assign projects = site.data.data.projects %}
{% if projects %}
<section class="section projects-section">

  <h2 class="section-title">
    <span class="fa-stack fa-xs">
      <i class="fas fa-circle fa-stack-2x"></i>
      <i class="fas fa-archive fa-stack-1x fa-inverse"></i>
    </span>
    {{ projects.title }}
  </h2>

  {% if projects.intro %}
  <div class="intro">
      <p>{{ projects.intro }}</p>
  </div><!--//intro-->
  {% endif %}

  {% for project in projects.assignments %}
    <div class="item">

      <span class="project-title">
        {% if project.link %}
        <a href="{{ project.link }}" target="_blank">{{ project.title }}</a>
        {% else %}
        {{ project.title }}
        {% endif %}
      </span>

      {% if project.tagline %}
        {% for tl in project.tagline %}
          <hr>
          <p class="project-tagline">{{ tl.summary }}</p>
          {% if tl.lights %}
            <p><strong>亮点与特色:</strong></p>
            {% for l in tl.lights %}
              <div class="project-tagline">{{ l }}</div>
            {% endfor %}
            <br>
          {% endif %}
          {% if tl.achieves %}
            <p><strong>成果与收获:</strong></p>
            {% for s in tl.achieves %}
              <div class="project-tagline">{{ s }}</div>
            {% endfor %}
            <br>
          {% endif %}
          {% if tl.difficults %}
            <p><strong>问题与难点:</strong></p>
            {% for p in tl.difficults %}
              <div class="project-tagline">{{ p }}</div>
            {% endfor %}
          {% endif %}
        {% endfor %}
      {% endif %}

    </div><!--//item-->
  {% endfor %}

</section><!--//section-->
{% endif %}
